body {
    background: linear-gradient(to right, #74ebd5, #9face6);
}

.card {
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.02);
}

.btn:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}